body {
  background-image: url("https://assets.ccbp.in/frontend/react-js/social-buttons-bg.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.title {
  font-family: "Bree Serif";
  font-weight: bold;
  color: white;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.b1 {
  background-color: orange;
  border-radius: 9px;
  margin: 10px;
  height: 30px;
  width: 50px;
}
.b2 {
  background-color: white;
  border-radius: 9px;
  margin: 10px;
  height: 30px;
  width: 70px;
}
.b3 {
  background-color: blue;
  border-radius: 9px;
  margin: 10px;
  height: 30px;
  width: 50px;
}
.card {
  justify-content: space-between;
}
